<div class="mb-element mb-element-poi hidden" id="{{ id }}" title="{{ 'mb.core.poi.sharepoi'|trans }}">
    <div class="input">
    <form id="poiForm">
        <textarea id="body">{{ configuration.body | trans }}:</textarea>
    </form>
    </div>
    <div class="output">
    Sie können folgenden Link zum Beispiel in einer E-Mail verschicken:<br/><br/>
    <span class="span-link">ssf</span><br/><br/>
    Der Link öffnet die Anwendung und zeigt den Treffpunkt an.
    </div>
</div>
