@import "libs/variables";
@import "libs/mixins";
@import "modules/text";
@import "modules/input";

.searcholccontent{
    .search-result-navi{
      border-bottom: 3px solid $secondColor;
      height:$fontSize*2;
      margin-bottom:$space/4;
    }
  .results{
    @extend .subTitle;
    font-size:$fontSize*1.2;
    margin-top:$space/4;
    margin-bottom:$space/4;
  }
  .clickable{
    cursor:pointer;
  }
  .ausserhalb {
    color: rgba(80, 80, 80, 0.6);
    cursor: default;
    font-style: italic;
  }
  .noPage{color:$thirdColor;}
  .document, .eigen, .grund{@extend .subTitle;}
}
